 {% extends 'base.html' %}

{% block content %}

<br>
    <div class="row">
      <div class="col-sm-5 form-border">
        <form id="formOne" action = "{% url 'home' %}"> 
            <h1 class="probe-heading"><strong>PROBE</strong></h1><br>
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                  <label for="server"><strong>Route Server</strong></label>
                  <select class="form-control" id="server" name="server" required>
                    <option disabled selected value style="display:none; font-size: xx-small;">Select route server</option>
                    <option value="rs1.rc.v4">rs1.rc - IPV4</option>
                    <option value="rs2.med.v4">rs2.med - IPV4</option>
                    <option value="rs2.med.v6">rs2.med - IPV6</option>
                    <option value="rs3.abj.v4">rs3.abj - IPV4</option>
                  </select>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    <label for="command"><strong>Command</strong></label>
                    <select class="form-control" id="command" name="command" required>
                      <option disabled selected value style="display:none;">--Please select a command</option>
                      <option value="ping">ping</option>
                      <option value="traceroute">traceroute</option>
                      <option value="route_detail">show route for ... </option>
                      <option value="bgp_neighbors">show bgp neighbors</option>
                      <option value="bgp_neighbor_received">show bgp neighbor ... receieved routes</option>
                    </select>
                  </div>
                  <div class="col-sm-1"></div>
            </div>
            <div class="row">
              <div class="col-sm-1"></div>
                <div class="form-group col-sm-10" id="los_nei_v6">
                  <label for="los_neighbors_v6"><strong>Neighbors</strong></label>
                  <select class="form-control" id="los_neighbors_v6" name="los_neighbors_v6">
                    <option disabled selected value style="display:none;">--Please select a member</option>
                    <option value="pb_0069_as12041">AFILIAS</option>
                    <option value="pb_0082_as60171">AFR_IX</option>
                    <option value="pb_0004_as36873">AIRTEL</option>
                    <option value="pb_0051_as327952">AKAMAI</option>
                    <option value="pb_0066_as37468">ANGOLA CABLES</option>
                    <option value="pb_0093_as43256">BICS II</option>
                    <option value="pb_0085_as37659">BILLYRONKS GLOBAL LTD</option>
                    <option value="pb_0077_as37714">BITFLUX</option>
                    <option value="pb_0083_as328457">BRAINSHARE</option>
                    <option value="pb_0020_as42909">CDNS</option>
                    <option value="pb_0099_as328658">CHOICE2MOBILE</option>
                    <option value="pb_0096_as328722">CIUDAD INFRASTRUCTURE LTD.</option>
                    <option value="pb_0041_as328043">CLICKATEL</option>
                    <option value="pb_0067_as13335">CLOUDFLARE</option>
                    <option value="pb_0008_as35074">COBRANET</option>
                    <option value="pb_0029_as37308">COOLINK_RC</option>
                    <option value="pb_0011_as37308">COOLLINK_MED</option>
                    <option value="pb_0002_as20598">CYBERSPACE</option>
                    <option value="pb_0012_as37613">DOLPHIN TELECOMS</option>
                    <option value="pb_0079_as328160">DOTMAC_LOS</option>
                    <option value="pb_0053_as328202">ECONETMEDIA</option>
                    <option value="pb_0045_as37495">EKOKONNECT</option>
                    <option value="pb_0036_as327981">EKOVOLT</option>
                    <option value="pb_0042_as37629">ESTREAM</option>
                    <option value="pb_0005_as37076">ETISALAT</option>
                    <option value="pb_0064_as32934">FACEBOOK1</option>
                    <option value="pb_0065_as32934">FACEBOOK2</option>
                    <option value="pb_0014_as11344">GGC</option>
                    <option value="pb_0033_as37148">GLO</option>
                    <option value="pb_0015_as15169">GOOGLE</option>
                    <option value="pb_0090_as15169">GOOGLE 2</option>
                    <option value="pb_0094_as136907">HUAWEI_1</option>
                    <option value="pb_0095_as136907">HUAWEI_2</option>
                    <option value="pb_0047_as37209">HYPERIA</option>
                    <option value="pb_0076_as37269">ICSL</option>
                    <option value="pb_0006_as30988">INTERNET SOLUTION</option>
                    <option value="pb_0007_as29091">IPNX</option>
                    <option value="pb_0046_as37521">ISN</option>
                    <option value="pb_0090_as36932">IXPN</option>
                    <option value="pb_0048_as37398">JUNIPER</option>
                    <option value="pb_0031_as36920">KKON</option>
                    <option value="pb_0043_as37125">LAYER3</option>
                    <option value="pb_0086_as22822">LIMELIGHT</option>
                    <option value="pb_0017_as37282">MAINONE</option>
                    <option value="pb_0073_as8075">MICROSOFT1</option>
                    <option value="pb_0074_as8075">MICROSOFT2</option>
                    <option value="pb_0018_as29465">MTN-NG</option>
                    <option value="pb_0010_as327952">NATCOMM-MED</option>
                    <option value="pb_0013_as30998">NETCOM AFRICA</option>
                    <option value="pb_0016_as37347">NGCOM-MDX</option>
                    <option value="pb_0026_as37347">NGCOM-MED</option>
                    <option value="pb_0044_as37661">NGREN</option>
                    <option value="pb_0024_as36938">NIRA-MED</option>
                    <option value="pb_0052_as36938">NIRA-RC</option>
                    <option value="pb_0050_as328166">NMOBILE</option>
                    <option value="pb_0089_as328126">ORANGE MED</option>
                    <option value="pb_0088_as328126">ORANGE RC</option>
                    <option value="pb_0091_as4004">ORANGE-MED</option>
                    <option value="pb_0039_as3856">PCH1</option>
                    <option value="pb_0040_as42">PCH2</option>
                    <option value="pb_0022_as37248">PHASE3</option>
                    <option value="pb_0049_as328203">PLATINUM INDEX</option>
                    <option value="pb_0097_as328779">PROLINE</option>
                    <option value="pb_0034_as327880">SHOWMAX</option>
                    <option value="pb_0037_as37637">SMILECOMM</option>
                    <option value="pb_0078_as328401">SOFT ALLIANCE</option>
                    <option value="pb_0003_as37340">SPECTRANET</option>
                    <option value="pb_0019_as36923">SWIFTNG</option>
                    <option value="pb_0023_as36923">SWIFTTALK</option>
                    <option value="pb_0102_as37682">TIZETI</option>
                    <option value="pb_0025_as37088">VDT</option>
                    <option value="pb_0032_as26415">VERISIGN</option>
                    <option value="pb_0009_as16284">VODACOM MED</option>
                    <option value="pb_0030_as16284">VODACOM RC</option>
                    <option value="pb_0087_as37721">VTS</option>
                    <option value="pb_0075_as37288">WACREN</option>
                    <option value="pb_0070_as327813">WEB4AFRICA_MED</option>
                    <option value="pb_0084_as37662">WIOCC</option>
                    <option value="pb_0081_as328588">WRAGBY</option>
                    <option value="pb_0062_as21859">ZEN LAYER</option>

                  </select>
              </div>
              <div class="col-sm-1"></div>
              </div> <div class="row">
                <div class="col-sm-1"></div>
                    <div class="form-group col-sm-10" id="los_nei">
                      <label for="los_neighbors"><strong>Neighbors</strong></label>
                      <select class="form-control" id="los_neighbors" name="los_neighbors">
                        <option disabled selected value style="display:none;">--Please select a member</option>
                        <option value="AFILIAS">AFILIAS</option>
                        <option value="AFR_IX">AFR_IX</option>
                        <option value="AIRTEL">AIRTEL</option>
                        <option value="AKAMAI">AKAMAI</option>
                        <option value="ANGOLACABLE">ANGOLACABLE</option>
                        <option value="BBC">BBC</option>
                        <option value="BICS_2">BICS_2</option>
                        <option value="BICS">BICS</option>
                        <option value="BILLYRONKS">BILLYRONKS</option>
                        <option value="BITFLUX">BITFLUX</option>
                        <option value="BRAINSHARE">BRAINSHARE</option>
                        <option value="CBN">CBN</option>
                        <option value="CDNS">CDNS</option>
                        <option value="CHINA_TELECOM">CHINA_TELECOM</option>
                        <option value="CHOICE2MOBILE">CHOICE2MOBILE</option>
                        <option value="CIUDAD">CIUDAD</option>
                        <option value="CIUDAD_RC">CIUDAD_RC</option>
                        <option value="CLICKATELL">CLICKATELL</option>
                        <option value="CLOUDFLARE">CLOUDFLARE</option>
                        <option value="COBRANET">COBRANET</option>
                        <option value="COOLLINK_MED">COOLLINK_MED</option>
                        <option value="CYBERSPACE">CYBERSPACE</option>
                        <option value="DOLPHIN">DOLPHIN</option>
                        <option value="DOTMAC">DOTMAC</option>
                        <option value="DOTMAC_RC">DOTMAC_RC</option>
                        <option value="EKOKONNECT">EKOKONNECT</option>
                        <option value="EKOVOLT">EKOVOLT</option>
                        <option value="ESTREAM">ESTREAM</option>
                        <option value="ETISALAT">ETISALAT</option>
                        <option value="FACEBOOK_1">FACEBOOK_1</option>
                        <option value="FACEBOOK_2">FACEBOOK_2</option>
                        <option value="GARANNTORA">GARANNTOR</option>
                        <option value="GGC_NODE">GGC_NODE</option>
                        <option value="GGC_RTR_ABJ">GGC_RTR_ABJ</option>
                        <option value="GGC_RTR">GGC_RTR</option>
                        <option value="GOOGLE_2">GOOGLE_2</option>
                        <option value="GOOGLE">GOOGLE</option>
                        <option value="HUAWEI_1">HUAWEI_1</option>
                        <option value="HUAWEI_2">HUAWEI_2</option>
                        <option value="HYPERIA">HYPERIA</option>
                        <option value="ICNL">ICNL</option>
                        <option value="ICSL">ICSL</option>
                        <option value="IMBIL">IMBIL</option>
                        <option value="IPNX_1">IPNX_1</option>
                        <option value="IPNX_2">IPNX_2</option>
                        <option value="ISN">ISN</option>
                        <option value="ISNIGERIA">ISNIGERIA</option>
                        <option value="IXPN_PHC">IXPN_PHC</option>
                        <option value="IXPN_ICNL">IXPN_ICNL</option>
                        <option value="IXPN_RC">IXPN_RC</option>
                        <option value="JUNIPER">JUNIPER</option>
                        <option value="KKON">KKON</option>
                        <option value="LAYER3">LAYER3</option>
                        <option value="LIMELIGHT">LIMELIGHT</option>
                        <option value="MAINONE">MAINONE</option>
                        <option value="MELBIKOMAS">MELBIKOMAS</option>
                        <option value="MTN">MTN</option>
                        <option value="NATCOM">NATCOM</option>
                        <option value="NETFINITY">NETFINITY</option>
                        <option value="NGCOM_2">NGCOM_2</option>
                        <option value="NGCOM">NGCOM</option>
                        <option value="NGREN">NGREN</option>
                        <option value="NIGCOMSAT">NIGCOMSAT</option>
                        <option value="NIRA_MED">NIRA_MED</option>
                        <option value="NIRA_RC">NIRA_RC</option>
                        <option value="ORANGE_4004">ORANGE_4004</option>
                        <option value="ORANGE_MED">ORANGE_MED</option>
                        <option value="ORANGE_RC">ORANGE_RC</option>
                        <option value="PCH_AS3856">PCH_AS3856</option>
                        <option value="PCH_AS42">PCH_AS42</option>
                        <option value="PHASE3">PHASE3</option>
                        <option value="PLATINUM">PLATINUM</option>
                        <option value="PROLINE">PROLINE</option>
                        <option value="SMILE">SMILE</option>
                        <option value="SOFTALLIANCE">SOFTALLIANCE</option>
                        <option value="SPECTRANET">SPECTRANET</option>
                        <option value="SWIFT_MED">SWIFT_MED</option>
                        <option value="SWIFT_MDXi">SWIFTNG_MDXI</option>
                        <option value="SWIFTTALK">SWIFTTALK</option>
                        <option value="TIZETI">TIZETI</option>
                        <option value="TWENTYONECTL">21CTL</option>
                        <option value="VDT">VDT</option>
                        <option value="VERISIGN">VERISIGN</option>
                        <option value="VODACOM">VODACOM</option>
                        <option value="VODACOM_RC">VODACOM_RC</option>
                        <option value="VTS">VTS</option>
                        <option value="WACREN">WACREN</option>
                        <option value="WEB4AFRICA">WEB4AFRICA</option>
                        <option value="WIOCC">WIOCC</option>
                        <option value="ZENLAYER">ZENLAYER</option>

                    </select>
                    </div>
                    <div class="col-sm-1"></div>
                    </div>
                   <div class="row">
                      <div class="col-sm-1"></div>
                    <div class="form-group col-sm-10" id="abj_nei">
                      <label for="abj_neighbors"><strong>Neighbors</strong></label>
                      <select class="form-control" id="abj_neighbors" name="abj_neighbors">
                        <option disabled selected value style="display:none;">--Please select a member</option>
                        <option value="BCN">BCN</option>
                        <option value="BILLYRONKS">BILLYRONKS</option>
                        <option value="CBN">CBN</option>
                        <option value="COBRANET">COBRANET</option>
                        <option value="CYNOX">CYNOX</option>
                        <option value="DOTMAC">DOTMAC</option>
                        <option value="ECNX">ECNX</option>
                        <option value="GGC_RTR">GGC_RTR</option>
                        <option value="MEGAMORE">MEGAMORE</option>
                        <option value="NANOCOM">NANOCOM</option>
                        <option value="NETFINITY">NETFINITY</option>
                        <option value="NETFINITY_KANO">NETFINITY_KANO</option>
                        <option value="NG_ICT">NG_ICT</option>
                        <option value="PHASE3">PHASE3</option>
                        <option value="SKYVISION">SKYVISION</option>
                        <option value="SPECTRANET">SPECTRANET</option>
                        <option value="WINROK">WINROK</option>
                        <option value="WIOCC">WIOCC</option>
                    </select>
                    </div>
                    <div class="col-sm-1"></div>
                    </div>
             <div class="row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10" id="ip_add">
                  <label for="ip_address"><strong>Ip Address</strong></label>
                  <input type="text" name="ip_address" class="form-control" id="ip_address" placeholder="ipv4 or ipv6 address">
                </div>
                <div class="col-sm-1"></div>
              </div>
                <br>
                <div class="row">
                  <div class="col-sm-3"></div>
                <div class="form-group col-sm-6">
                    <input type="submit" name="submit" class="btn btn-block submit-button" value="Start probe">&emsp;&emsp;&emsp;
                </div>
                <div class="col-sm-3"></div>
                </div>
              </form>
    </div>
    <div class="col-sm-5"></div>
    </div>

    <div class="row2"></div>
<br><br><br>
<div id="output"></div>
<br><br><br><br>
{% endblock %}