* {
    box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}
.form-heading {
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;

}
.wrap-every {
  padding-left: 45px;
  margin-bottom: 30px;


}

/* Header/logo Title */
.header {
  padding: 15px;
    text-align: center;
    background:#2B5928;
    color:whitesmoke;
}


/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 40%;
    background-color:#E5EFF1;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 100px;
    color:black;
}

/* Main column */
.main {
    flex: 60%;
    background-color: white;
    padding: 20px;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
    text-align: center;
    background: #2B5928;
    color: whitesmoke;
}
.row0{
  flex: 5%;
  padding: 5px;
}

.row1{
  flex: 25%;
  padding: 5px;
}

.row2{
  flex: 30%;
  padding: 5px;
}
.submit-button {
  padding-top: 20px;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
.row, .navbar {   
  flex-direction: column;
}
}
.loading {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 50%;

}

.return-home {
  display: none;
  margin-left: 5%;
}
.return-home-two {
  display: none;
  margin-right: 5%;
  float: right;
}
.result {
  border-radius: 35px;
    border: 2px solid #2B5928;
  padding: 20px;
  margin-bottom: 50px;
  width: 90%;
  color: black;
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact {
  border-radius: 35px;
    border: 2px solid #2B5928;
    width: auto;
    height: auto;
  background-color:#2B5928;
  padding: 10px;
  width: 95%;
  color: white;
  font-size: small;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
  list-style-type: none;
  line-height: 200%;
}
.contact-heading {
  text-align: center;
}
.error {
  color: red;
}
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid black;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
.red {
  color: red;
}
.green {
  color:#2B5928;
}
#los_nei {
  display: none;
}
#ip_add {
  display: none;
}

#abj_nei {
  display: none;
}
#los_nei_v6 {
  display: none;
}
caption {
  background-color: #2B5928;
  color: whitesmoke;
  caption-side: top;
  text-align: center;
  font-weight: 900;
}

